/* * * * * * *
Made by ASAKO
2021/04/24
Ver.2
* * * * * * */
@charset "UTF-8";

/* * * * * * *
BASE
* * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

section {
  text-align: center;
}

tbody {
  vertical-align: inherit;
}

th, td {
  font-weight: normal;
  padding: 0;
}

 ul {
  font-weight: normal;
}

li {
  list-style: none;
}

/* * * * * * *
UTILITY
* * * * * * */
.u-content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.u-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translatex(-50%);
}

.u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

/* * * * * * *
HEADER
* * * * * * */
.header {
  position: relative;
  width: 100%;
  height: 620px;
  /* background: url("img/header.png"); */
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("img/header.png");
  background-size: cover;
  text-align: center;
  color: #fff;
  font-family: myriad-pro, sans-serif;
}

.header_nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.header_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_logo {
  font-size: 36px;
}

.hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.hamburger-menu_line,
.hamburger-menu_line::before,
.hamburger-menu_line::after {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
}

.hamburger-menu_line::before,
.hamburger-menu_line::after {
  content: "";
}

.hamburger-menu_line {
  top: 50%;
}

.hamburger-menu_line::before {
  top: calc(50% - 8px);
}

.hamburger-menu_line::after {
  top: calc(50% + 8px);
}

.header_title {
  padding-top: 240px;
  font-size: 120px;
  font-weight: normal;
}

.header_title_sub {
  word-spacing: 4px;
}

.header_title_sub::before,
.header_title_sub::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background:#fff;
  vertical-align: middle
  ;
}

/* * * * * * *
CONCEPT
* * * * * * */
.concept_image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

/* * * * * * *
WORK
* * * * * * */
.work {
  width: 100%;
  padding-top: 80px;
}

.work_contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1680px;
}

.work_content {
  width: 420px;
  padding-bottom: 80px;
  text-align: left;
  line-height: 1.8;
}

.work_content:nth-of-type(1) {order: 1;}
.work_content:nth-of-type(2) {
  order: 3;
  margin-top: 120px;
}

.work_content:nth-of-type(3) {order: 2;}
.work_content:nth-of-type(4) {order: 4;}

.work_content_image {
  width: 100%;
  margin-bottom: 16px;
}

.work_content_text {
  letter-spacing: 1.5px;
}

/* * * * * * *
FLORIST
* * * * * * */
.florist {
  width: 100%;
  padding-top: 80px;
  background: linear-gradient(#ededed 60%, #fff 40%);
}

.florist_persons {
  display: flex;
  justify-content: space-between;
}

.florist_person {
  width: 300px;
  padding-bottom: 40px;
  text-align: left;
  line-height: 1.8;
  font-size: 0;
}

.florist_person_image {
  width: 100%;
  margin-bottom: 12px;
}

.florist_person_name {
  font-size: 24px;
}

.florist_person_introduce {
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* * * * * * *
SHOP INFORMATION
* * * * * * */

.shop-information {
  width: 100%;
  padding: 80px 0 120px;
}

.shopinformation_contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopinformation_image {
width: 50%;
}

.shopinformation_table {
  width: 45%;
  border-spacing: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 2;
}

.shopinformation_table_heading {
  width: 25%;
  border-right: 1px solid #0a0a0a;
}

/* * * * * * *
CONTACT US
* * * * * * */
.contact {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url('img/contact_us.png');
  /* background: url('img/contact_us.png'); */
  background-size: cover;
}

.btn_contact {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #0a0a0a;
  background: #fff;
  font-size: 20px;
}

.btn_contact::before,
.btn_contact::after {
  content: "";
  position: absolute;
  border-radius: 2px;
}

.btn_contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}

.btn_contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
}

/* * * * * * *
FOOTER
* * * * * * */

.footer {
  width: 100%;
  text-align: center;
}

.footer_copyright {
  line-height: 40px;
  letter-spacing: 1.4px;
}

/* * * * * * *
レスポンシブ対応
* * * * * * */
@media screen and (max-width: 670px){
  body {
    font-size: 14px;
  }

 /* * * * * * *
 UTILITY
 * * * * * * */
  .u-content-wrapper{
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .u-heading {
    font-size: 28px;
  }

  .u-text {
    text-align: left;
    padding-bottom: 32px;
  }

  .u-display_pc {
    display: none;
  }
 /* * * * * * *
 HEADER
 * * * * * * */
 .header {
   height: 355px;
   padding-top: 0;
   background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(img/header.png) 50%;
   background-size: cover;
  }

  .header_nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .header_nav_logo {
    font-size: 24px;
  }

  .header_title {
    padding-top: 120px;
    font-size: 64px;
  }

 /* * * * * * *
 CONCEPT
 * * * * * * */

 .concept {
   padding: 40px, 0;
   background: linear-gradient(#fff 75%, #ededed 25%);
 }
 
 /* * * * * * *
 WORK
 * * * * * * */
.work {
  position: relative;
  padding: 40px 0 24px;
}

.work_contents_wrapper{
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}

.work_contents_wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 8px;
}

.work_contents_wrapper::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 8px;
}

.work_contents_wrapper::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

.work_contents {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
}

.work_content {
  width: 80vw;
  padding-bottom: 40px;
}

.work_content:not(:last-of-type){
  margin-right: 24px;
}

.work::before {
  bottom: 26px;
  left: 79%;
  overflow: hidden;
  transform: rotate(45deg);
  transition: .9s ease-in-out;
}

.work::after {
  bottom: 30px;
  right: 5%;
  transform: rotate(45deg);
  transition: .9s ease-in-out;
}

.work_content:nth-of-type(2) {
  margin-top: 0;
}

.work_content_image {
  height: 200px;
  margin-bottom: 0;
  object-fit: cover;
}

.wark_image_gift {
  object-position: 0 75%;
}

.wark_image_decoration {
  object-position: 0 65%;
}

.wark_image_wedding {
  object-position: 0 60%;
}

 /* * * * * * *
 FLORIST
 * * * * * * */
 .florist {
   padding: 40px 0;
   background: #ededed 55%;
 }

 .florist_persons_wrapper {
   overflow-x: auto;
   overflow-y: visible;
   -webkit-overflow-scrolling: touch;
 }

 .florist_persons_wrapper::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   border-radius: 8px;
 }

 .florist_persons_wrapper::-webkit-scrollbar-thumb {
   background: rgba(0,0,0,.15);
   border-radius: 8px;

 }

 .florist_persons_wrapper::-webkit-scrollbar-track {
   background: rgba(0,0,0,.15);
   border-radius: 8px;
 }

 .florist_persons {
   display: inline-flex;
 }

 .florist_person {
   width: 80vw;
 }

 .florist_person:not(:last-of-type){
   margin-right: 24px;
 }

 .florist_person_image {
   width: 100%;
   margin-bottom: 0;
 }

 /* * * * * * *
 SHOP INFORMATION
 * * * * * * */
.shop-information {
  padding: 40px 0;
}

.shopinformation_contents {
  display: block;
}

.shopinformation_image,
.shopinformation_table {
  width: 100%;
}
 /* * * * * * *
 CONTACT US
 * * * * * * */
.contact {
  padding: 40px 0 64px;
}

.btn_contact {
  width: 280px;
  padding-left: 50px;
}

.btn_contact::before {
  left: 45px;
}

.btn_contact::after {
  left: 50px;
}

}

